<div class="overlay Overlay show">

    <% if ( overlay['loader'] ) { %>
        <<div class="loader Loader go"></div>
    <% } %>

    <% if ( overlay['close_able'] ) { %>
        <span class="close_overlay CloseOverlay click_able">
                <span class="nice_svg medium"><svg><use href="#close"></use></svg></span>
        </span>
    <% } %>

    <% if ( overlay['with_message'] ) { %>
        <div class="message <%- overlay['message_type'] %>">

            <div class="header">
                <span class="nice_svg large">
                    <svg>
                        <use href="#<% if ( overlay['icon'] ) { %><%-overlay['icon']%>
                            <% } else { %><%-'notify_' + overlay['message_type']%><% } %>">
                        </use>
                    </svg>
                </span>
                <span class="title"><%-overlay['title']%></span>
            </div>

            <div class="body">
                <%-overlay['message']%>
            </div>

    </div>
    <% } %>

</div>